{% extends "gallery/base.html" %}
{% block title %}Редактирование работы{% endblock %}
{% block content %}
<div class="image_id">
    <figure>
        <img src="/media/{{ image.image }}">
    </figure>
</div>
{% if 'gallery.change_vectordrawing' in perms %}
<div class="change_fields">
    <form method="POST">
        {% csrf_token %}
        <label>Название работы:</label>
        <input type="text" value="{{ image.title }}" name="title">
        <label>Описание:</label>
        <textarea name="description">{{ image.description }}</textarea>
        <label>Теги работы:</label>
        <select multiple="multiple" name="tags">
            {% for tag in image.tags.all %}
            <option>{{ tag.title }}</option>
            {% endfor %}
        </select>

        <label>Существующие теги:</label>
        <select multiple="multiple" name="new_tags">
            {% for tag in tags %}
            <option>{{ tag.title }}</option>
            {% endfor %}
        </select>
        <p>
            <button type="submit">Изменить</button>
            <button type="submit" name="delete_image">Удалить</button>
        </p>
    </form>
</div>
{% endif %}


{% endblock %}