{% extends "gallery/base.html" %}
{% block title %}Галеря{% endblock %}
{% block content %}

<div class="b-flex">
    {% if page_obj.has_previous %}
    <div class="pagination_previous">
        <!-- <a href="?page=1">first</a> -->
        <div class="pagin">
            <a href="?page={{ page_obj.previous_page_number }}">&lang;</a>
        </div>
    </div>
    {% else %}
    <div class="pagination_previous_plug">
        <div class="pagin_plug">
            <a href="#">&lang;</a>
        </div>
    </div>
    {% endif %}
    <div class="content">
        {% for image in images %}
        <figure>
            <a href="{% url 'gallery:image_id' image.id %}"><img src="{% static image.image %}"></a>
            <figcaption>
                <!-- Название работы: {{ image.title }}
                    Описание: {{ image.description }} -->
                {% for tag in image.tags.all %}
                <div class="tag">
                    <a href="{% url 'gallery:by_tag' tag.title %}"> {{ tag.title }} </a>
                </div>
                {% endfor %}
                <!-- 
                    Дата публикации: {{ image.published|date:"d.m.Y H:i:s" }} -->
            </figcaption>
        </figure>
        {% endfor %}
    </div>
    {% if page_obj.has_next %}
    <div class="pagination_next">
        <div class="pagin">
            <a href="?page={{ page_obj.next_page_number }}">&rang;</a>
            <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last</a> -->
        </div>
    </div>
    {% else %}
    <div class="pagination_next_plug">
        <div class="pagin_plug">
            <a href="#">&rang;</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}