/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------------------------------------------------------*/

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
    background-color:#fae8d3;
    font-family: 'Open Sans Condensed', sans-serif;
    min-width: 500px;
}

figure {
    display: inline-block;
    width: 400px;
    height: 250px;
    overflow: hidden; /* this is important */
  	position: relative; /* this is important too */
}

a img {
  object-fit: cover; /* Запрещаем масштабирование изображения */
  object-position: center; /* Центрируем картинку от центра */
  height: 250px;
  width: 400px;
  
}

figcaption {
  opacity: 0;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 45%;
}


figure:hover > a img {
  opacity: 0.3;
}

figure:hover > figcaption {
  opacity: 1;
}


.tag {
  display: inline;
}

.tag a{
  font-size: 25px;
  margin: 10px;
  color: #726c61;
  text-decoration: none;
  text-shadow: 1px 1px 10px #FFF;
  
}

.tag a:hover{
  color: #FFA100;
  opacity: 1;
}

.image_id img{
  display: block;
  max-width: 70%;
  background-color: #726c61;
  padding: 10px;
  border-radius: 2px;
  margin: 15px auto;
}

nav {
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

label {
  display: block;
  color: #726c61;
}

p span {
  color: #726c61;
}

input, textarea, select {
  background-color:#fae8d3;
  border: 3px solid #726c61;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 2px;
  outline:none;
  color: #726c61;
}

textarea{
  width: 400px;
  height: 100px;
}

div.add{
  margin-top: 10px;
  margin-left: 5%;
}

a.nav_button {
  color: #726c61;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

a.nav_button:hover {
  color: #FFA100;
}

.pagination_next a:hover, .pagination_previous a:hover{
  border: 2px solid #726c61;
  background-color: #726c61;
  color: #FFA100;
  border-radius: 2px;

}

.pagination_next a, .pagination_previous a{
  border: 2px solid #fae8d3;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  color: #726c61;
  font-weight: bold;
}

.pagin{
  height: 100%;
  display: table;
}

.pagination_next_plug a, .pagination_previous_plug a{
  border: 2px solid #fae8d3;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */
  color: #fae8d3;;/* цвет текста серый */
}

.pagin_plug{
  height: 100%;
  display: table;
}

.b-flex {
  display: flex;
  margin: 20px 20px 0 20px;
  justify-content:space-between;
}

.content{
  max-width: 1209px;

}

.input_button, button{
  padding: 0 10px;
  margin: 0 0 10px 0;
  border: 2px solid #fae8d3;
  background-color: #fae8d3;
  color: #726c61;
  border-radius: 2px;
}

.input_button:hover, button:hover{
  border: 2px solid #726c61;
  background-color:#726c61;
  color: #FFA100;

}

div.input_button{
  display: inline-block;
  border-radius: 2px;
  padding: 0 10px;
  margin: 10px;
}

.input_button a{
  text-decoration: none;
  outline:none;
  color: inherit;
}

.login{
  text-align: center;
  margin-top: 10%;
}

.change_fields{
  padding-left: 5%;
}



.about_me span{
  font-size: 30px;
  text-transform: capitalize;
}


.about_me {
  display: block;
  max-width: 600px;
  margin: 30px auto;
  text-align: justify;
  line-height: 40px;
}

.about_me p a {
  text-decoration: none;
  color: #726c61;
}

.about_me p a:hover {
  color: #FFA100;
}

.links {
  display: block;
}